@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

/* Lutfi Ihsan */
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* margin: 0; */
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  /* font-family: monospace; */
  color: #10182f;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* ---End CSS Lutfi Ihsan --- */

li {
  list-style: none;
}

.header-logo {
  float: left;
  color: #ffffff;
  font-size: 17px;
  padding: 14px 16px;
  background-color: #402cad;
  border-radius: 10px 10px;
}

.header-list li {
  float: right;
  padding: 33px 10px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

/* ---Lutfi Ihsan --- */

.contents {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 5px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}
.tag-blue {
  background-color: #5e76ff;
}
.tag-yellow {
  background-color: #738e07;
}
.tag-red {
  background-color: #a00d0d;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

/* End CSS Lutfi*/


.contact-title {
  text-align:center;
  font-size: 30px;
  margin-bottom: 0px;
}
.contact-paragraph {
  text-align:center;
}

.contact-form {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.contact-left {
  width: 50%;
  float: left;
}
.contact-left img {
  width: 100%;
}
.contact-right {
  width: 50%;
  display: inline-block;
  padding: 0px 20px;
}
.contact-right p{
  margin: 0px;
}
.contents-item {
  float: left;
  margin-right: 30px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

input, textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* Tambahkan CSS untuk contact-submit */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: auto;
}

.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #402cad;
  border-radius: 10px 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e45b00;
  color: white;
  border-radius: 10px 10px;
}